body{
    background-color: #FFEEE2;
}

#topnav {
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    background-color: #81A684;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
    color: #FFEEE2;
    /* centering text */
    text-align: center;    /* horizontally */
    line-height: 55px;     /* vertically */
    text-decoration: none;
}
#logo {
    width: 120px;
    background-color: #81A684;
    font-weight: bold;
}
h1{
    text-align: center;
}
.container div {
    float: left;
    margin-bottom: 15px;
}

.block {
    background-color: #81A684;
    width: 32%;
    margin: 10px;
    height: 371px;
}
.block1 {
    background-color: #81A684;
    width: 32%;
    margin: 10px;
    height: 371px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.block2 {
    background-color: #81A684;
    width: 32%;
    margin: 10px;
    height: 371px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

h3{
    color: #FFEEE2;
    margin: 25px;
    text-align: center;
}